@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --side-square: 23px;
}   

body {
    background-color: #f1f1f1;
}

.main-title {
    text-align: center;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reset-button {
    margin: auto;
    display: flex;
}

.container {
    margin: 50px auto;
    width: 400px;
    height: 400px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: var(--side-square);
    height: var(--side-square);
    background-color: #fff;
    border: 1px solid black;
}

.black {
    background-color: black;
}

.square {
    width: var(--side-square);
    height: var(--side-square);
    background-color: #fff;
}

.black {
    background-color: #000;
}